<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
                <ul>
                    <li class="p-hamburger ">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>

                    </li>
                    <li>
                      <img  class="p-cursor p-search"   src="assets/img/search.png" alt="the icon for search"/>
                    </li>
                </ul>
                <ul>
                    <li>
                        
                        <a href="#" [routerLink]="['/']" [routerLinkActive]="['is-active']"> My Portfolio</a>

                    </li>
                    <li>
            
                        <a href="#" [routerLink]="['/contact']" [routerLinkActive]="['is-active']">About</a>

                    </li>
                    <li>
                        <a href="#" [routerLink]="['/about']" [routerLinkActive]="['is-active']">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
