<section>

    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7 p-rgt-section">
           <div>
            <span class="p-tag">Front-End Developer</span>
              <h1 class="mt-4">Eman Mohamed Hassouna </h1>
            <p class="p-des mt-3 mb-4">Hello and welcome to my cumulative Portfolio for CS Engineer Fall Senior 2022! My name is Eman Mohamed Ibrahiem, Iam 20yrs, ID:20182287 and major CS.Here you can find new
            technology with diferent  Front-end websites using professional tools of CSS,HTML,JS, Angular ...
            </p>
                   <a href="#" class="p-readmore">Read More<img src="assets/img/arrow.png" alt="the icon for readmore arrow" 
                       width="15" class="ml-2" /></a> 
           </div>

                        <div>
                            <h6>Subscribe To AITB Company</h6>
                            <form class="form-inline" autocomplete="off">
                                <div class="form-group row">
                                    <input type="email" class="form-control" id="email" 
                                    placeholder="Enter your email here" autocomplete="off">

                                    <button class="btn btn-warning">Subscribe</button>
                                  </div>
                                </form>
                                </div>
                                
                        </div>
            </div>
        </div>
</section>